* {
    /* color: var(--seasalt); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--seasalt);
}

/*---------- Root and Global Styles ----------*/

:root {
    /* CSS HEX */
    --night: #0D1013ff;
    --bice-blue: #1F6DA9ff;
    --imperial-red: #EE3336ff;
    --steel-blue: #3680BDff;
    --powder-blue: #9FC4E0ff;
    --bittersweet: #F06264ff;
    --seasalt: #FAFBFCff;
    --gold: #f7db4d;
    --green: #08bd05;
    --royal-purple: #5C54CA;

    /* Hover Animation */
    --hover-duration: all 0.5s ease-in-out;
    --tile-transition: all 0.6s linear;
}

html, body {
    height: 100%;
    width: 100%;
}


body {
    background-size: 105%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

main {
    background-color: var(--night);
    background-image: url(img/Texturelabs_Details_176XL.jpg);
    background-size: contain;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2 / 17;
    grid-row: 1 / 17;
    color: var(--seasalt);
    display: grid;
    height: 100%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.typewriter-block {
    background-color: var(--seasalt);
    color: var(--night);
    font-size: inherit;
}

#categories {
    grid-column: 2 / 17;
    grid-row: 1 / 17;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
    padding: 2rem 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    justify-items: center;
}

#phenomena {
    display: flex;
    gap: 0.5rem;
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
    padding: 2rem 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

#dossier {
    /* grid-column: 2 / 17; */
    /* grid-row: 1 / 17; */
    display: flex;
    gap: 0.5rem;
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

#page-title {
    font-size: 4rem;
    grid-column: 1 / 3;
}
#page-subtitle {
    text-align: center;
    font-size: 1.2rem;
    grid-column: 1 / 3;
}

/* #categories {
    grid-column: 2 / 17;
    grid-row: 1 / 17;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    overflow-y: scroll;
    overflow: hidden;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding: 2rem 0.5rem;
} */



/*---------- Google Fonts ----------*/
.bbh-sans-bogle {
    font-family: "BBH Sans Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mozilla-text {
    font-family: "Mozilla Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*---------- Sidebar ----------*/
#sidebar {
    grid-row: 1 / 17;
    grid-column: 1 / 2;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    border-right: solid var(--seasalt) 0.2rem;
    background-color: var(--night);
    background-image: url(img/Texturelabs_LensFX_232XL.jpg);
    /* background-blend-mode: overlay;
    background-position: center; */
    background-size: cover;
    background-position: bottom;
}

/*---------- Header and Navigation ----------*/
#nav-bar-list {
    grid-column: 1 / 17;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

ul>li {
    list-style-type: none;
}

#nav-bar {
    height: 100%;
}

/*---------- Navigation Links ----------*/
.nav-link {
    background: none;
    border: solid var(--seasalt) 0.2rem;
    height: 4rem;
    width: 12rem;
    display: flex;
    margin: 0.8rem 0.5rem;
    padding: 0.5rem 0.1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-link h1 {
    font-size: 1.5rem;
}
.nav-link a {text-decoration: none;}
.nav-link a  p, .line-break {
    display: none;
}

.line-break {
    width: 90%;
    justify-self: center;
    background-color: var(--powder-blue);
    border: solid var(--powder-blue) 0.1rem;
    margin: 0.2rem 0;
}

.nav-link:hover a p,
.nav-link:hover .line-break, .nav-link:hover h1 {
    display: block;
    color: var(--powder-blue);
}

.nav-link:hover {
    background-image: url(img/Texturelabs_LensFX_232XL.jpg);
    border: solid var(--powder-blue) 0.2rem;
    color: var(--powder-blue);
    background-size: cover;
    background-position: center;
    transition: var(--hover-duration);
}

/*---------- Title Container ----------*/
#title-container {
    grid-column: 2 / 17;
    grid-row: 9 / 11;
    width: 22rem;
    padding: 0.5rem 1rem;
    background: none;
    border: solid var(--seasalt) 0.2rem;
    height: 20rem;
    display: flex;
    margin: 0.8rem 0.5rem;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    position: relative;
    left: -1rem;
    flex-wrap: wrap;
    align-content: center;
}
#title-container h2 {
    font-size: 1.8rem;
    text-align: left;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
#title-container h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
#title-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
#title-container h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/*---------- Profile Cards ----------*/

.profile-card {
    display: flex;
    min-height: .5rem;
    min-width: .5rem;
    height: 7rem;
    width: 7rem;
    background-image: url(img/Texturelab_Film_188XL.jpg);
    background-size: cover;
    background-position: center;
    margin: 0.8rem 0.5rem;
    transition: var(--tile-transition);
}

.profile-image {
    max-height: 7rem;
    max-width: 7rem;
    min-height: 3rem;
    min-width: 3rem;
    margin: 0.2rem;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}
.profile-card h1 {
    display: none;
    text-align: center;
    font-size: 1.8rem;
}
.profile-card p {
    display: none;
    text-align: center;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
.profile-card h2 {
    display: none;
    text-align: center;
}

.status-hostile {
    color: var(--imperial-red);
}
.status-suspect {
    color: var(--gold);
}
.status-allied {
    color: var(--green);
}

/* Profile Cards - Hover States */

.profile-card:hover {
    display: flex;
    padding: 1.5rem 0.5rem;
    width: 18rem;
    height: 18rem;
    transition: var(--tile-transition);
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.profile-card:hover h1, 
.profile-card:hover p, 
.profile-card:hover h2 {
    display: block;
    transition: inherit;
}

/*---------- Dossier Page ----------*/
.dossier-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(img/Texturelabs_Film_188XL.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 3 / 9;
    padding: 1rem 2rem;
}

/*---------- Phenomena ----------*/

.tile-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
}

.tile {
    display: flex;
    min-height: .5rem;
    min-width: .5rem;
    padding: 0.4rem 0.4rem;
    height: 6rem;
    width: 6rem;
    background-image: url(img/Texturelabs_LensFX_230XL.jpg);
    background-size: cover;
    background-position: center;
    margin: 0.8rem 0.5rem;
}
.tile p {
    display: none;
    text-align: center;
    text-wrap: wrap;
    font-size: 1.2rem;
}

.tile:hover {
    display: flex;
    height: 8rem;
    width: 8rem;
    transition: var(--tile-transition);
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.tile:hover p {
    display: inline;
    transition: inherit;
}

/*---------- Footer ----------*/
#footer {
    grid-column: 1 / 17;
    grid-row: 16 / 17;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#bottom-banner {
    position: absolute;
    bottom: -2rem;
    width: 105%;
    object-fit: contain;
}

/*---------- Design Ideas ----------*/
/*https: //www.peppasauce.love*/
/* https: //www.milli.agency */
/* https: //www.seaharvest.net.au */
/* https: //spacecadet.ventures */
/* https: //www.webdesign-inspiration.com/web-design/salomon-foodworldcom */